.alerts {
  position: fixed;
  width: 100%;
  z-index: 999;

  .alert {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 8px;

    &.fade {
        transition: all .2s ease-in-out;
        transform: translateY(0);
        &:not(.show) {
          transform: translateY(-100px);
        }
      }
  }
}


